<ion-header *ngIf="isDesktop || !confrontation" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'home.play' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="home">
        <ion-icon slot="icon-only" name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed class="ion-justify-content-between">
    <ion-row class="ion-text-center {{ isOnePlayer || !confrontation || isDesktop ? '' : 'rotate' }}">
      <ion-col size="12" [hidden]="!isDraw || isOnePlayer">
        <ion-label style="font-family: monospace; font-size: 20px">{{ 'home.draw' | translate }}</ion-label>
      </ion-col>
      <ion-col [hidden]="!isDesktop" size="12" sizeSm="6">
        <ion-card>
          <ion-card-header>
            <ion-button [disabled]="(disableUndo || count1stMove === 0 || count % 2 === 0) && !isOnePlayer"
              (click)="undo()" fill="none" class="top-left-absolute">
              <ion-icon slot="icon-only" name="arrow-undo-circle-outline"></ion-icon>
            </ion-button>
            <ion-button [disabled]="count === 0" (click)="reset()" fill="none" class="top-right-absolute">
              <ion-icon color="danger" slot="icon-only" name="refresh-circle-outline"></ion-icon>
            </ion-button>
            <ion-card-title>{{firstPlayer}}</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <ion-text>
              <ion-row>
                <ion-col size="4" class="ion-padding-start">
                  <h2 class="ion-float-left">{{ 'home.win' | translate }}: {{count1stWin}}</h2>
                </ion-col>
                <ion-col size="4">
                  <h2>{{ 'home.best' | translate }}: {{best1stMove}}</h2>
                </ion-col>
                <ion-col size="4" class="ion-padding-end">
                  <h2 class="ion-float-right">{{ 'home.movemove' | translate }}: {{count1stMove}}</h2>
                </ion-col>
              </ion-row>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" sizeSm="6">
        <ion-card>
          <ion-card-header>
            <ion-button *ngIf="!isOnePlayer" [disabled]="disableUndo || count2ndMove === 0 || count % 2 === 1"
              (click)="undo()" fill="none" class="top-left-absolute">
              <ion-icon slot="icon-only" name="arrow-undo-circle-outline"></ion-icon>
            </ion-button>
            <ion-button *ngIf="!isOnePlayer" [disabled]="count === 0" (click)="reset()" fill="none"
              class="top-right-absolute">
              <ion-icon color="danger" slot="icon-only" name="refresh-circle-outline"></ion-icon>
            </ion-button>
            <ion-card-title>{{secondPlayer}}</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <ion-text>
              <ion-row>
                <ion-col size="4" class="ion-padding-start">
                  <h2 class="ion-float-left">{{ 'home.win' | translate }}: {{count2ndWin}}</h2>
                </ion-col>
                <ion-col size="4">
                  <h2>{{ 'home.best' | translate }}: {{best2ndMove}}</h2>
                </ion-col>
                <ion-col size="4" class="ion-padding-end">
                  <h2 class="ion-float-right">{{ 'home.move' | translate }}: {{count2ndMove}}</h2>
                </ion-col>
              </ion-row>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row style="flex-grow: 1;" class="ion-justify-content-center ion-align-items-center">
      <div>
        <!-- y-axis -->
        <ng-container *ngIf="isDesktop">
          <ion-row class="cell" *ngFor="let item of yArr" class="container-flex flex-column my-10">
            <div class="cell">0</div>
            <div class="cell" *ngFor="let col of arr; let i = index">{{i+1}}</div>
          </ion-row>
        </ng-container>
        <!-- end of y-axis -->

        <ion-row *ngFor="let row of arr; let i = index">
          <div *ngIf="isDesktop" class="cell">{{i+1}}</div>
          <div *ngFor="let col of row; let j = index" [id]="i + '-' + j" (click)="tick(i, j)" class="cell">
            <ion-text [color]="col === firstPlayer ? color1 : color2">
              {{col}}
            </ion-text>
            <div [id]="'line-' + i + '-' + j" [hidden]="!isWin || checkContain(i, j)" class="line"></div>
          </div>
        </ion-row>
      </div>
    </ion-row>

    <ion-row [hidden]="isDesktop" class="ion-text-center">
      <ion-col size="12" [hidden]="!isDraw">
        <ion-label style="font-family: monospace; font-size: 20px">It's draw</ion-label>
      </ion-col>
      <ion-col size="12" sizeSm="6">
        <ion-card>
          <ion-card-header>
            <ion-button [disabled]="(disableUndo || count1stMove <= 0 || count % 2 === 0) && !isOnePlayer"
              (click)="undo()" fill="none" class="top-left-absolute">
              <ion-icon slot="icon-only" name="arrow-undo-circle-outline"></ion-icon>
            </ion-button>
            <ion-button [disabled]="count === 0" (click)="reset()" fill="none" class="top-right-absolute">
              <ion-icon color="danger" slot="icon-only" name="refresh-circle-outline"></ion-icon>
            </ion-button>
            <ion-card-title>{{firstPlayer}}</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <ion-text>
              <ion-row>
                <ion-col size="4" class="ion-padding-start">
                  <h2 class="ion-float-left">{{ 'home.win' | translate }}: {{count1stWin}}</h2>
                </ion-col>
                <ion-col size="4">
                  <h2>{{ 'home.best' | translate }}: {{best1stMove}}</h2>
                </ion-col>
                <ion-col size="4" class="ion-padding-end">
                  <h2 class="ion-float-right">{{ 'home.move' | translate }}: {{count1stMove}}</h2>
                </ion-col>
              </ion-row>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col hidden size="12" sizeSm="6">
        <ion-card>
          <ion-card-header>
            <ion-button [disabled]="disableUndo || count2ndMove === 0 || count % 2 === 1" (click)="undo()" fill="none"
              class="top-left-absolute">
              <ion-icon slot="icon-only" name="arrow-undo-circle-outline"></ion-icon>
            </ion-button>
            <ion-button [disabled]="count === 0" (click)="reset()" fill="none" class="top-right-absolute">
              <ion-icon color="danger" slot="icon-only" name="refresh-circle-outline"></ion-icon>
            </ion-button>
            <ion-card-title>{{secondPlayer}}</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <ion-text>
              <ion-row>
                <ion-col size="4" class="ion-padding-start">
                  <h2 class="ion-float-left">{{ 'home.win' | translate }}: {{count2ndWin}}</h2>
                </ion-col>
                <ion-col size="4">
                  <h2>{{ 'home.best' | translate }}: {{best2ndMove}}</h2>
                </ion-col>
                <ion-col size="4" class="ion-padding-end">
                  <h2 class="ion-float-right">{{ 'home.move' | translate }}: {{count2ndMove}}</h2>
                </ion-col>
              </ion-row>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
